.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  .slid-border img {
    display: none;
  }
  .slid-border {
    background-color: #f9f8f3;
  }
}


.borderr{
  border: 3px solid red;
}
.imges{
  height: 28.5rem !important;
  object-fit: cover !important;
}